name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: "47 7 * * *"
  push:
    paths:
      - "*/**"
      - "!*/README.md"
      - "!.github/**"

env:
  TZ: ${{ vars.TZ || 'Asia/Shanghai' }}
  FORCE: ${{ vars.FORCE || 'false' }}
  DEBUG: ${{ vars.DEBUG || 'false' }}
  GITHUB_TOKEN: ${{ github.token }}
  PLATFORM: ${{ vars.PLATFORM || 'linux/amd64' }}
  REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
  TARGETS: ${{ vars.TARGETS || '' }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout version
        uses: actions/checkout@v4
        with:
          path: version
          ref: version

      - name: Checkout main
        uses: actions/checkout@v4
        with:
          path: main
          ref: main

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY || 'docker.io' }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get changed files
        if: github.event_name == 'push'
        id: changed-files
        uses: tj-actions/changed-files@4168bb487d5b82227665ab4ec90b67ce02691741
        with:
          path: main
          dir_names: true
          files: |
            */**
          files_ignore: |
            .github/**

      - name: Filter Pushed
        if: github.event_name == 'push'
        env:
          DIRS: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          declare -a target_dirs=()

          # 遍历所有变更文件路径
          for file_path in $DIRS; do
            # 提取第一层级目录（分割第一个/前的部分）
            first_level_dir=$(echo "$file_path" | cut -d '/' -f 1)

            # 跳过空值（避免无意义的空目录）
            if [ -n "$first_level_dir" ] && [ "$first_level_dir" != "$file_path" ]; then
              # 去重：仅当目录未在数组中时添加
              if [[ ! " ${target_dirs[@]} " =~ " ${first_level_dir} " ]]; then
                target_dirs+=("$first_level_dir")
              fi
            fi
          done

          echo "TARGETS=${target_dirs[*]}" >> $GITHUB_ENV

          echo "变动的容器：${TARGETS}"

      - name: Build
        run: |
          cd main
          if [[ -z $TARGETS ]]; then
            bash build.sh
          else
            FORCE=true bash build.sh $TARGETS
          fi

      - name: Update Version Info
        run: |
          cd version
          if git diff --quiet; then
            echo "Nothing update"
            exit 0
          fi
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: bump image version"
          git push origin version
